python-dotenv
pandas
numpy
joblib
pymongo
certifi
pymongo[srv]==3.11





scikit-learn
mlflow
pyaml
dagshub
fastapi
uvicorn
python-multipart




-e .   
  #important in triggering setup.py

##when we run pip install requirements.txt when the installer reads -e . then it triggers setup.py to perform all the setup
 